{{#contentFor 'customCSS'}}
<link rel="stylesheet" type="text/css" href="build/home-style.css">
<link rel="stylesheet" type="text/css" href="build/vendor-style.css">
{{/contentFor}}


{{> loader}}
<div id="app-body" class="app-body"></div>
<div id="map"></div>
<a href='#' id='exportButton' title='Download Drawing' download></a>
<!-- <div class="push"></div> -->


{{#contentFor 'scripts'}}
<script type="text/javascript" src="build/vendor-bundle.js"></script>
<script type="text/javascript" src="build/home-bundle.js"></script>
{{/contentFor}}
